body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .logo-link {
    text-decoration: none;
  }
  
  .logo-text {
    color: white;
    margin-left: 10px; /* Adjust the spacing as needed */
    font-weight: bold;
    text-decoration: none;
  }
  
  
  
  .content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
  
  .navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar li a:hover {
    background-color: #333;
  }