body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .logo img {
    height: 40px; /* Adjust the height as needed */
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .navbar li a:hover {
    background-color: #333;
  }
  
.python{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.python:hover{
    background-color: rgb(69, 166, 245);
    color: white;

}
.java{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.java:hover{
    background-color: rgb(69, 166, 245);
    color: white;
}
.cpp{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.cpp:hover{
    background-color:  rgb(69, 166, 245);
    color: white;
}
.c{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.c:hover{
    background-color:  rgb(69, 166, 245);
    color: white;
}
.js{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(7, 7, 7);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.js:hover{
    background-color:  rgb(69, 166, 245);
    color: white;
}
.php{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.php:hover{
    background-color:  rgb(69, 166, 245);
    color: white;
}
.csp{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.csp:hover{
    background-color: rgb(69, 166, 245);
    color: white;
}
.act{
    height: 100px;
    width: 500px;
    font-weight: bold;
    font-size: 50px;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    background-color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}
.act:hover{
    background-color: rgb(69, 166, 245);
    color: white;
}