/* styles.css */

/* Custom CSS for the navigation bar */
.navbar-custom {
    background-color: black;
  }
  
  /* Customize the color of the navigation links */
  .navbar-custom .navbar-nav .nav-link {
    color: white;
  }
  
  /* Customize the color of the active navigation link */
  .navbar-custom .navbar-nav .nav-link.active {
    color: red; /* Change this to your desired active link color */
  }
  